body {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
}

.navbar-brand {
  font-size: 1.5rem;
  font-family: "Roboto Condensed", serif;
  font-weight: 700;
}
.nav-item {
  font-size: 1.15rem;
  font-family: "Roboto Condensed", sans-serif;
}
h2 {
  font-size: 1.5rem;
  font-weight: normal;
}
.container {
  /*I M NOT USING THIS RN
  EDIT THIS,, ITS RUINING MY FOOTER*/
  /*background-color: #EEE9CA;*/
  display: flex;
  justify-content: center;
}
/* The hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  /*background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./images/sfdither.png"); 
  this image should be edited so i can use it to be resized,, lots of space above*/

  /* Set a specific height help howwww*/
  height: 25rem;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Place text in the middle of the image */
.hero-text {
  font-family: "Lexend", sans-serif;
  padding: 2rem;
  color: white;
  position: absolute;
  left: 0;
  /*transform: translate(-100%, 0%);*/
}

.cardsChart {
  padding: 2rem;
}

.card {
  width: 18rem;
  background-color: aliceblue;
}
